#python dosyaları 
#__pycache__/ *.py[cod] *$py.class : Python çöp dosyaları için | venv/ env/ : projedeki kütüphane klasörleri, requirements.txt dosyasından yüklenebilirler.
__pycache__/ 
*.py[cod]
*$py.class
venv/
env/

#django 
# db.sqlite3: gereksiz, biz PostgreSQL kullanıcaz | media/: yüklenen medya dosyaları için (kod değil) | local_settings.py: Django yerel ayar dosyaları için | *.log : log dosyaları için
*.log  
local_settings.py
db.sqlite3
media/

#evnironment dosyaları 
# .env .env.* : Çevresel değişken dosyaları için veritabanı şifresi, api anahtarları, tokenlar vb.
.env
.env.*

#IDE dosyaları 
# .idea/  .vscode/ : IDE ayar dosyaları için gereksiz dosyalar | *.swp : vim geçici dosyaları için, yedek dosya gibi
.vscode/
.idea/
*.swp

#docker ve sistem dosyaları
#.DS_Store : MacOS sistem dosyaları için
.DS_Store

# Test ve Simülasyon Araçları
iot_simulator.py
dashboard.html